body{
    margin: 0;
    background-color: yellow;
}
h1{
    margin: 0 0 auto 0;
}
.header, .footer{
    background-color: aqua;
    color: white;
    padding: 20px;
    text-align: center;
}

.productos {
    display: grid;
    padding: 30px;
    grid-template-columns:repeat(2, 1fr); 
}
.producto{
    margin: 30px;
    padding: 20px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
}

.precio{
    font-weight: bold;
    color: rgb(93, 93, 187);
}
.nombre{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@media (max-width: 740px ) {
    .productos{
        display: flex;
        flex-direction: column;
    }
    .imagen {
        max-width: 200px;
        max-height: 120px;
    }
}
